
.nav{
background-color:#202020;
}
body{
background-color:#E6F6FB;
}
title{
text-decoration:none;
}

table{
outline-style:solid;
outline-color:black;
outline-width:3px;
display:flex;
flex-direction:row;
flex-wrap:wrap;
}
#text-left{
front-weight:700px:
}

