<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h2>Welcome, [[${username}]]!</h2>
<p>Backend 8081 says: [[${backendA}]]</p>

<p><a href="http://localhost:8085/logout">Logout (via Gateway)</a></p>
<h1>Add New Patient</h1>
<form th:action="@{/ui/add}" method="post" th:object="${patient}">
    <div class="form-group row">
        <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required/>
        <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required/>
        <input type="text" th:field="*{birthdate}" class="form-control" required/>
        <input type="text" th:field="*{gender}" class="form-control" placeholder="Gender"/>
        <input type="text" th:field="*{address}" class="form-control" placeholder="Address" required/>
        <input type="text" th:field="*{phone}" class="form-control" placeholder="Phone" required/>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save Patient</button>
</form>
<h2>Existing Patients</h2>
<table>
    <thead>
    <tr>
        <th class="text-left">patId</th>
        <th class="text-left">Last Name</th>
        <th class="text-left">First Name</th>
        <th class="text-left">Date of Birth</th>
        <th class="text-left">Gender</th>
        <th class="text-left">Address</th>
        <th class="text-left">Phone</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${patients}">
        <td th:text="${p.id}">Id</td>
        <td th:text="${p.lastName}">Last</td>
        <td th:text="${p.firstName}">First</td>
        <td th:text="${p.birthdate}">DOB</td>
        <td th:text="${p.gender}">Gender</td>
        <td th:text="${p.address}">Address</td>
        <td th:text="${p.phone}">Phone</td>
        <td><a th:href="@{'/ui/edit/' + ${p.id}}">Edit</a></td>
    </tr>
    <tr th:if="${#lists.isEmpty(patients)}">
        <td colspan="7">No patients found.</td>
    </tr>

    </tbody>
</table>
<h2>Patient History Notes</h2>
<table>
    <thead>
    <tr>
        <th class="text-left">patId</th>
        <th class="text-left">Patient Name</th>
        <th class="text-left">Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.patId}">patId</td>
        <td th:text="${note.fullName}">Patient Name</td>
        <td>
            <ul th:if="${note.notes != null and !#lists.isEmpty(note.notes)}">
                <li th:each="n : ${note.notes}" th:text="${n}">Note</li>
            </ul>
            <span th:if="${note.notes == null or #lists.isEmpty(note.notes)}">No notes available</span>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(notes)}">
        <td colspan="2">No notes found.</td>
    </tr>
    </tbody>
</table>
<h3>Diabetes Risk Levels</h3>
<table>
    <thead>
    <tr>
        <th class="text-left">PatID</th>
        <th class="diagnosis-text">Expected Risk</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="risk : ${risks}">
        <td th:text="${risk.patId}">patId</td>
        <td th:text="${risk.expectedRisks}">RiskLevel</td>
    </tr>
    <tr th:if="${#lists.isEmpty(patients)}">
        <td colspan="2">No risk data available.</td>
    </tr>
    </tbody>
</table>

<a th:href="@{'/ui/history/'}">Add Note</a>
<a th:href="@{/}" class="btn btn-primary mt-3">Back to Homepage!</a>
</body>
</html>