<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Risk Levels</title>-->
<!--  <link rel="stylesheet" th:href="@{/styles.css}"/>-->
<!--</head>-->
<!--<h1>Diabetes Risks</h1>-->

<!--<div th:if="${success}" th:text="${success}" class="success-message"></div>-->
<!--<div th:if="${error}" th:text="${error}" class="error-message"></div>-->
<!--<body>-->
<!--<h1>Patient Risk Levels Table</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>PatId</th>-->
<!--    <th>Expected Risks</th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--  <tr th:each="risk : ${risks}">-->
<!--      <td th:text="${risk.patId}">patId</td>-->
<!--      <td th:text="${risk.expectedRisks}">RiskLevel</td>-->
<!--      <td>-->
<!--          <ul th:if="${risk.risks != null}">-->
<!--              <li th:each="n : ${risk.risks}" th:text="${n}">Expected Risks</li>-->
<!--          </ul>-->
<!--          <span th:if="${risk.risks == null or #lists.isEmpty(risk.risks)}">No data available</span>-->
<!--      </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->