<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>Edit Patient</h1>
<form th:action="@{/ui/update/{id}(id=${patient.id})}" method="post" th:object="${patient}">
    <input th:field="*{lastName}" required/>
    <input th:field="*{firstName}" required>
    <input th:field="*{birthdate}" type="date" required>
    <input th:field="*{gender}" required>
    <input th:field="*{address}" required>
    <input th:field="*{phone}" required>
    <button type="submit">Update</button>
</form>

<a th:href="@{/}" class="btn btn-primary mt-3">Back Homepage</a>
</body>
</html>