<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Note</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>Patient History</h1>

<div th:if="${success}" th:text="${success}" class="success-message"></div>
<div th:if="${error}" th:text="${error}" class="error-message"></div>

<table>
    <thead>
    <tr>
        <th>patId</th>
        <th>Patient</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.patId}">patId</td>
        <td th:text="${note.fullName}">Patient Name</td>
        <td>
            <ul th:if="${note.notes != null}">
                <li th:each="n : ${note.notes}" th:text="${n}">Note</li>
            </ul>
            <span th:if="${note.notes == null or #lists.isEmpty(note.notes)}">No notes available</span>
        </td>
    </tr>
    </tbody>
</table>
<h3>Add Observation</h3>
<form th:action="@{/ui/history/add}" method="post" th:object="${note}" id="addNote">
    <label for="patId">Patient ID:</label>
    <input type="number" th:field="*{patId}" id="patId" required/>

    <label for="noteText">Observation:</label>
    <textarea th:field="*{notes[0]}" id="noteText" placeholder="Enter observation note" required></textarea>
    <button type="submit">Add Note</button>
</form>
<a th:href="@{/ui/add}" class="btn btn-primary mt-3">Back to Patient List!</a>

</body>
</html>