<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <title>MediLabo Solutions</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class="navbar-brand" th:href="@{/}">MediLabo Solutions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <h2 class="mt-4">All Patients</h2>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th class="text-left">Last Name</th>
            <th class="text-left">First Name</th>
            <th class="text-left">Date of Birth</th>
            <th class="text-left">Gender</th>
            <th class="text-left">Address</th>
            <th class="text-left">Phone</th>
            <th class="text-left"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient:${patients}">
            <td th:text="${patient.lastName}">TestNone</td>
            <td th:text="${patient.firstName}">Test</td>
            <td th:text="${patient.birthdate}">1998-12-31</td>
            <td th:text="${patient.gender}">F</td>
            <td th:text="${patient.address}">1 Brookside St</td>
            <td th:text="${patient.phone}">555-333-7777</td>
            <td><a href="#" class="btn btn-info" role="button">Add</a></td>
        </tr>
        </tbody>
    </table>
    <hr/>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>
